body{
    background: url("https://images.unsplash.com/photo-1602498456745-e9503b30470b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-color: lightcoral;
    background-size: cover;
}

p{
    color: salmon;
}

div{
    font-size: 20px;
    display: block;
}

#first-id{
    background-color: orangered;
    font-style: italic;
    border-width: 5px;
    border-color: rgba(158, 169, 177, 0.33);
    border-style: solid;
    border-radius: 15px
}
/*font: [font-style] [font-variant] [font-weight] [font-size] [font-family] */

#second-id{
    font: italics small-caps 600 20px Arial, sans serif;
}

#third-id{

}

a{
    text-decoration: none;
}

a:link{color:red;}

a:visited{color:yellow}

a:hover{
    color:green;
    margin-top: 5px;
    margin-left: 10px;
}
