:root{
    --header-height: 114px;
    --header-footer-bg-color: rgba(0, 0, 0, 0.85);
    --menu-left: 160px;
    --line-color: #2F4F4F;
    --font-color: #9932CC;
}

html, body{
    height: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
}

header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height var(--header-height);
}

.top-bar{
    background-color: var(--header-footer-bg-color);
    height: 81px;
    margin-bottom: 0;
}

.top-menu{
    background-color: aliceblue;
    overflow: auto;
    width: auto;
    margin-bottom: 0;
    border-bottom: 1px solid var(--line-color);
}

.top-menu ul{
    list-style: none;
}

.top-menu li{
    float: left;
    padding-left: 20px;
    font-size: 14px;
}

.top-menu a{
    display: block;
    line-height: 20px;
    padding: 0 8px;
    color: #696969;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.top-menu a:hover{
    color: #00008B;
    text-decoration: underline;
}

.left{
    width: var(--menu-left);
    height: 100%;
    position: fixed;
    float: left;
    padding-left: 0;
    margin-top: var(--header-height) + 25px;

}

.left ul{
    margin: 0;
    list-style: none;
}

.left li{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 28px;
}

.left a{
    font-size: 14px;
    color(var(--font-color);
    line-height: 150%;
    text-decoration: none;
}

.left a:hover{
    text-decoration: underline;
}

.right{
    margin-left: var(--menu-left);
    margin-top: var(--header-height);
    margin-bottom: 24px;
    flex-direction: column;
}

article{
    margin-left: 15px;
    margin-right: 35px;
    margin-top: 20px;
    border-left: 1px solid var(--line-color);
    color: var(--font-color);
}

article h2{
    padding-top: 15px;
    font-size: 30px;
    color: var(--font-color);
    line-height: 150%;
    padding-left: 15px;
    margin-top: 0;
}

article p{
    margin-bottom: 8px;
    text-indent: 15px;
    text-align: justify;
    padding: 0 5px 4px 15px;
    font-size: 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

footer{
    position: relative;
    right: 0;
}